html {
  scroll-behavior: smooth;
}

/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: "poppins", sans-serif;
  /* background-color: rgb(2, 52, 85); */
  color: #ffffff;
  /* text-align: justify; */
  min-height: 2000px;
  flex-direction: column;
  display: flex;
}
/* navigasi */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 7%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgb(0, 82, 102);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 1000;
  color: #ffffff;
}

.navbar .navbar-logo :hover {
  color: #6200ff;
}

.navbar .navbar-logo span {
  color: #1da59e;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: white;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(2, 52, 85, 0.71) 3%,
      rgb(2, 52, 85) 100%
    ),
    url("FAKE0363.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  animation: fadeBg 0.5s ease-in forwards;
}

@keyframes fadeBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero::after {
  content: ""; /*supaya bisa dikasi style maka konten kosong */
  display: block;
  position: absolute; /*dikasih absolute agar nempek ke bawah, dan posisi elemen asli diberi non static (relative)*/
  height: 100%;
  width: 100%;
}

.hero .content {
  padding: 1rem 7%;
  max-width: 60rem;
  flex-direction: column; /* 👉 bikin elemen di dalamnya vertikal */
}

/* pc */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
/* hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
